@{
    ViewData["Title"] = "Home Page";
}


<container>
    <div class="row justify-content-center" style="padding-bottom:10px">
        <div class="row justify-content-center">
            <h1 class="display-4">Welcome to Hedgehog Cloud Services</h1>
        </div>
        <div class="row justify-content-center">
            <div class="offset-2 col-4">
                <img src="~/media/hedgehog-393-256.png" class="img-fluid" alt="A fluffy hedgehog in the cloud">
            </div>
        </div>
        <div class="row justify-content-center">
            <h3>Where your dreams come true</h3>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" style="        background-color: black;
        color: white;
        padding: 10px
">
            <h3>About the Service</h3>
            <p>We provide a streamlined yet affordable service where the user is in focus. </p>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" style="background-color:white; color:black; padding:10px">
            <p>The web store of your dreams is just a click away!</p>
        </div>
    </div>
</container>
