<p>Item successfully added to cart!</p>
<p>You can <a href="javascript:void(0);" onclick="history.go(-1);">continue browsing</a> or you can <a asp-controller="ShoppingCart" asp-action="Index" asp-route-storeNavigationTitle="@(ViewContext.RouteData.Values["storeNavigationTitle"])">go to your cart</a> to place an order.</p>